<template name="tags">
    <h2>
        Tags
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTag"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tags</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {{#each tags}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{tag}}</td>
                <td><button type="button" data-id="{{_id}}" class="btn btn-danger btn-sm remove"><i class="fa fa-remove" aria-hidden="true"></i></button></td>
            </tr>
          {{/each}}
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade black" id="addTag" tabindex="-1" role="dialog" aria-labelledby="addTagLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="new-tag">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Add Tag</label>
                            <input type="text" name="tag" class="form-control" placeholder="Add Tag...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
