<template name="profileTags">
        {{#if profileTags}}
        <div class="customer-tags p-y-1 p-l-1">
            <h6 class="theme-color m-b-1">Current profile</h6>
            <section class="overflow-sideways">
                {{#each profileTags}}
                <span class="tag tag-default theme-border-color-thick theme-color transition">{{capitalize (this)}}
                    <button type="button" data-id="{{this}}" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
                {{/each}}
            </section>
        </div>
        {{/if}}
</template>
