@import "{}/imports/startup/styles/variables.scss";
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "{}/imports/ui/pages/questionnaire/questionnaire.scss";

//overrides
@import "{}/imports/startup/styles/themes.scss";
@import "{}/imports/startup/styles/tags.scss";
@import "{}/imports/startup/styles/utilities.scss";
@import "{}/imports/startup/styles/flex.scss";
@import "{}/imports/startup/styles/type.scss";
@import "{}/imports/startup/styles/animation.scss";

body,html{
    margin: 0;
    height:100%;
}
body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
