.customer-tags{
    flex-grow: 0 !important;

    .close{
        line-height: 0.8em;
        margin-left: 10px;
    }
}

.overflow-sideways{
    overflow-y: scroll;
    display: flex;
    flex-direction: row-reverse;
    
    .tag{
        display: flex;
        margin-right: 10px;
    }
}

header{
    min-height: 60px;
}
