.theme-black{
    a{
        color: $theme-black-bg;
    }
    .btn-default{
        background-color: $theme-black-bg;
    }
    .theme-bg{
        background: $theme-black-bg;
    }
    .theme-color{
        color: $theme-black-color;
    }
    .theme-color-darker{
        color: darken($theme-black-bg, 30%)
    }
    .theme-border-color-thin{
        border-color: rgba(255,255,255,0.4);
    }
    .theme-border-color-thick{
        border-color: rgba(255,255,255,1);
    }
}

.theme-blue{
    a{
        color: $theme-blue-bg;
    }
    .btn-default{
        background-color: $theme-blue-bg;
    }
    .theme-bg{
        background: $theme-blue-bg;
    }
    .theme-color{
        color: $theme-blue-color;
    }
    .theme-color-darker{
        color: darken($theme-blue-bg, 30%)
    }
    .theme-border-color-thin{
        border-color: rgba(255,255,255,0.4);
    }
    .theme-border-color-thick{
        border-color: rgba(255,255,255,1);
    }
}

.theme-yellow{
    a{
        color: $theme-yellow-bg;
    }
    .btn-default{
        background-color: $theme-yellow-bg;
    }
    .theme-bg{
        background: $theme-yellow-bg;
    }
    .theme-color{
        color: $theme-yellow-color;
    }
    .theme-color-darker{
        color: darken($theme-yellow-bg, 30%)
    }
    .theme-border-color-thin{
        border-color: rgba(0,0,0,0.4);
    }
    .theme-border-color-thick{
        border-color: rgba(0,0,0,1);
    }
}
