$enable-flex:               true;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

// Colours
$theme-black-bg: #ff5252;
$theme-black-color: #fff;

$theme-blue-bg: #2D8FCC;
$theme-blue-color: #fff;

$theme-yellow-bg: #ffeb3b;
$theme-yellow-color: #000;
