<template name="inventory">
    <h2>
        Inventory
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addInventory"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>RRP</th>
                <th>Wholesale</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Specs</th>
                <th>Tags</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {{#each inventory}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{sku}}</td>
                <td>{{rrp}}</td>
                <td>{{wholesalePrice}}</td>
                <td>{{description}}</td>
                <td>{{brand}}</td>
                <td>
                    {{#each this.specifications}}
                        <span class="tag tag-primary">{{getSpecificationsName this}}</span>
                    {{/each}}
                </td>
                <td>
                    {{#each this.tags}}
                         <span class="tag tag-primary">{{getTagName this}}</span>
                    {{/each}}
                </td>
                <td><button type="button" data-id="{{_id}}" class="btn btn-danger btn-sm remove-inventory">x</button></td>
            </tr>
          {{/each}}
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade black" id="addInventory" tabindex="-1" role="dialog" aria-labelledby="addInventoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="new-inventory">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="sku" class="form-control" placeholder="SKU">
                        </div>
                        <div class="form-group">
                            <input type="text" name="description" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <input type="number" name="rrp" class="form-control" placeholder="RRP">
                        </div>
                        <div class="form-group">
                            <input type="number" name="wholesalePrice" class="form-control" placeholder="Wholesale price">
                        </div>
                        <div class="form-group">
                            <input type="text" name="brand" class="form-control" placeholder="Brand">
                        </div>
                        <br/>
                        <br/>
                        <label for="">Choose Specifications to add to inventory item</label><br/>
                        {{#each uniqueSpecifications}}
                            <div class="form-group">
                                <label class="small" for="">{{type}}</label><br/>
                                <select name="{{type}}" class="form-control form-control-sm">
                                    {{#each uniqueSpecificationsOptions type}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/each}}
                        <br/>
                        <br/>
                        <label for="">Add Tags to this item</label><br/>
                        <div class="form-group">
                            <label class="small">Tags attached to inventory item</label><br/>
                            {{#each attachedTags}}
                                <button type="button" data-id="{{this}}" class="btn btn-success btn-sm remove-tag" aria-label="Close">{{getTagName this}} &times;</button>
                            {{/each}}
                            <br/>
                            <label class="small">Available Tags</label><br/>
                            {{#each tags}}
                                <button type="button" data-id="{{_id}}" class="btn btn-secondary btn-sm add-tag" aria-label="Close">{{tag}}</button>
                            {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
