<template name="questions">
    <h2>Questions <button type="button" class="btn btn-primary btn-sm remove-question-id" data-toggle="modal" data-target="#addQuestion"><i class="fa fa-plus" aria-hidden="true"></i></button></h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Tags</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {{#each questions.primary}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{question}} <button type="button" class="btn btn-primary btn-sm set-question-id" data-id="{{_id}}" data-toggle="modal" data-target="#addQuestion">Add Sub Question</button></td>
                    <td>
                        {{#each answers}}
                            <span class="tag tag-info">{{getAnswer answer}}</span>
                        {{/each}}
                        <button type="button" class="btn btn-primary btn-sm set-question-id" data-id="{{_id}}" data-toggle="modal" data-target="#addAnswer">Add Answer</button>
                    </td>
                    <td>{{#each answers}}
                            <span class="tag tag-primary">{{getTagName tag}}</span><br/>
                        {{/each}}
                    </td>
                    <td><button type="button" data-id="{{_id}}" class="btn btn-danger btn-sm remove">x</button></td>
                </tr>
                {{> subQuestions questions=questions id=_id}}
          {{/each}}
      </tbody>
    </table>

    <!-- Modal Question -->
    <div class="modal fade black" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header {{#if isAddingSubQuestion}}{{else}}hide{{/if}}">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Adding Sub Question to "{{getQuestion isAddingSubQuestion}}"</h4>
                </div>
                <form class="new-question">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Add Question</label>
                            <input type="text" name="question" class="form-control" placeholder="Add Question...">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label check-changed">
                                <input class="form-check-input" name="yes-answer" type="checkbox">
                                Is this a yes/no answer?
                            </label>
                        </div>
                        <div class="form-group {{#if checked}}hide{{/if}}">
                            <label>Add Answer</label>
                            <input type="text" name="answer" class="form-control" placeholder="Add Answer...">
                        </div>
                        <div class="form-group">
                            <label>Select Tag {{#if checked}}(Will be applied to yes answer only){{/if}}</label>
                            <select class="form-control" name="tags">
                                <option disabled selected value> -- select a tag or leave blank -- </option>
                                {{#each tags}}
                                <option value="{{_id}}">{{tag}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Answer -->
    <div class="modal fade black" id="addAnswer" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="add-answer">
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Add Answer</label>
                            <input type="text" name="answer" class="form-control" placeholder="Add Answer...">
                        </div>
                        <div class="form-group">
                            <label>Select Tag (You need to add them all first)</label>
                            <select class="form-control" name="tags">
                                {{#each tags}}
                                <option value="{{_id}}">{{tag}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</template>
