<template name="subQuestions">
    {{#each getSubQuestions id}}
        <tr class="table-active">
            <th scope="row"><small>.{{@index}}</small></th>
            <td>{{question}} <button type="button" class="btn btn-primary btn-sm set-question-id" data-id="{{_id}}" data-toggle="modal" data-target="#addQuestion">Add Sub Question</button></td>
            <td>
                {{#each answers}}
                    <span class="tag tag-info">{{getAnswer answer}}</span>
                {{/each}}
                <button type="button" class="btn btn-primary btn-sm set-question-id" data-id="{{_id}}" data-toggle="modal" data-target="#addAnswer">Add Answer</button>
            </td>
            <td>{{#each answers}}
                    <span class="tag tag-primary">{{getTagName tag}}</span><br/>
                {{/each}}
            </td>
            <td><button type="button" data-id="{{_id}}" class="btn btn-danger btn-sm remove">x</button></td>
        </tr>
        {{> subQuestions id=_id}}
    {{/each}}
</template>
