<template name="specifications">
    <h2>Specifications</h2>
    <form class="form-inline new-spec">
        <div class="form-group">
            <input type="text" name="type" class="form-control" placeholder="Add type... ie [cpu] ">
        </div>
        <div class="form-group">
            <input type="text" name="value" class="form-control" placeholder="Add value...">
        </div>
        <button type="submit" class="btn btn-secondary">Add!</button>
    </form>
    <br/>
    <form class="form-inline">
        {{#each uniqueSpecifications}}
            <div class="form-group">
                <label class="small" for="">{{type}}</label><br/>
                <select id="" class="form-control form-control-sm">
                    {{#each uniqueSpecificationsOptions type}}
                    <option>{{value}}</option>
                    {{/each}}
                </select>
            </div>
        {{/each}}
    </form>
    <form class="">
        <div class="form-group">
            <ul class="list-unstyled" style="max-height:200px; overflow:scroll">
                {{#each specifications}}
                    <li>
                        <strong>Type:</strong> {{type}}
                        <button type="button" data-id="{{_id}}" class="close pull-xs-right remove" aria-label="Close">&times;</button>
                        <br/>
                        <strong>Value:</strong> {{value}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </form>
    <hr/>
</template>
