<template name="specifications">
    <h2>
        Specifications
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addSpec"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </h2>

    <form class="form-inline m-y-1">
        {{#each uniqueSpecifications}}
            <div class="form-group">
                <label class="small" for="">{{type}}</label><br/>
                <select id="" class="form-control form-control-sm">
                    {{#each uniqueSpecificationsOptions type}}
                    <option>{{value}}</option>
                    {{/each}}
                </select>
            </div>
        {{/each}}
    </form>
    <div style="max-height:500px; overflow:scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each specifications}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{type}}</td>
                    <td>{{value}}</td>
                    <td><button type="button" data-id="{{_id}}" class="btn btn-danger btn-sm remove">x</button></td>
                </tr>
              {{/each}}
          </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade black" id="addSpec" tabindex="-1" role="dialog" aria-labelledby="addSpecLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="new-spec">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Add type (lowercase + camelCase)</label>
                            <input type="text" name="type" class="form-control" placeholder="Add type... ie [cpu] ">
                        </div>
                        <div class="form-group">
                            <label>Add value</label>
                            <input type="text" name="value" class="form-control" placeholder="Add value...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
